<section class="admin">
  <div class="container">
    <h1>Адмін-панель</h1>
    <div class="admin-menu">
      <a href={~p"/admin/photos"} class="btn">Управління фото</a>
      <a href="#" class="btn">Налаштування</a>
    </div>
  </div>
</section>
